@charset "UTF-8";

@font-face {
    font-family: 'Passion-one';
    src: url('fontes/Passion_One/PassionOne-Bold.ttf');
}

@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha/Sriracha-Regular.ttf');
}

:root {
    --cor-clara: white;
    --cor-escura: black;

    --fonte-1: Arial, Helvetica, Verdana, sans-serif;
    --fonte-2: 'Passion-one', cursive;
    --fonte-3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}
html, body {
    font-family: var(--fonte-1);
}

header {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    text-align: center;
}

header > h1 {
    font: normal normal 12em var(--fonte-2), sans-serif;
    padding: 10px 0px 0px 0px;
}

header > p {
    font-size: 1em;
}

a#link-milton {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor-clara);
}

a#link-milton:hover {
    text-decoration: underline;
}

main {
    background-color: var(--cor-clara);
    padding: 1em 0em 1em 0em;
}

section {
    font: normal normal 4em var(--fonte-3);
    line-height: 200px;
}

.p-geral {
    color: var(--cor-clara);
}

section#secao-1:nth-of-type(1) {
    background-image: url(imagens/background001.jpg);
    width: 100%;
    height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#secao-2:nth-of-type(2) {
    background-image: url(imagens/background002.jpg);
    width: 100%;
    height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section > p {
    max-width: 35%;
    padding-left: 40px;
}